#admin-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
main h2{
    margin-bottom: 10px;
}

/*Pour annuler le style qu'il y a sur la page d'accueil */
.button{
    margin-left: 0px;
}

.glass2{
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );    
    padding: 10% 10%;
    margin-bottom: 50px;
    margin-right: 20px;
}


.article-box{
    margin-right: 5%;
    margin-left: 5%;

    width: 15%;
    display: flex;
    justify-content: center;

}

article img{
    width: 200px;
    height: 200px;
}

