.card{
    margin: 20px;
    color:black;
    padding: 5px 5px;
    filter: drop-shadow(0 0 0.75rem white);
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
img{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.market-detail{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.profil{
    width: 25px;
    height: auto;
    margin-right: 10px;
}
.nft{
    width: 200px;
    height: 200px;
}

main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.main-panier{
    margin-left: 39%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.card-panier {
    min-width: 30%;
    max-width: 300px;

    color: black;
    padding: 5px 5px;
    filter: drop-shadow(0 0 0.75rem white);
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#categorie-selector{
    margin-top:10px;
}

#selector{
    margin-top: 20px;
    margin-bottom: 20px;
}

#selector a{
    background-color:white;
    padding: 15px 50px;
    margin: 20px 20px;
    color:black;
    text-align: center;
    filter: drop-shadow(0 0 0.75rem white);
    border: none;
}

.p-panier{
    margin-top: 2%;
    margin-bottom: 2%;
}

#prix-total{
    margin-top: 3%;
    margin-bottom: 3%;

    margin-left: -2%;
}


#passer-commande{
    margin-left: 9%;
}
