.glass2{
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );    
    padding: 100px 100px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 20px;
}

fieldset{
    border-width: 0px;
    border-radius: 15px;
    background-color:white;
    color:black;
    padding:20px;
}
fieldset p{
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}

#send{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#submit{
    padding:20px 20px;
    border-radius:20px;
    width: 150px;
    text-align: center;
    border: 2px floralwhite;
    background: linear-gradient(to right, #ad5389, #3c1053);
    color: white;
}

#submit:hover{
    cursor: pointer;
}

